<ul class="main_nav">
{% for link in linklists.main-menu.links %}
<li>
<a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
</li>
{% endfor %}

  <li class="social_icon_first"><a href="#" title="facebook"><img src="{{'Social_Media_Facebook.png'|asset_url}}"></a></li>
  <li class="social_icon"><a href="#" title="twitter"><img src="{{'Social_Media_twitter.png'|asset_url}}"></a></li>
  <li class="social_icon"><a href="#" title="instagram"><img src="{{'Social_Media_instagram.png'|asset_url}}"></a></li>
  </ul>

<style>
  .main_nav img{width:20px;margin: 0 0 -4px 0;}
  .main_nav img:hover {opacity:.75;}
  li.social_icon_first{padding:0 3px 0 15px!important;}
  li.social_icon{padding:0px 3px 0 0!important;
</style>