<script>
$(document).ready(function(){
$("#top_hero").backstretch([

  {% if settings.slide_1_checkbox %}
   "{{'slide_1.jpg'|asset_url}}",
  {% endif %}
  {% if settings.slide_2_checkbox %}
   "{{'slide_2.jpg'|asset_url}}",
  {% endif %}
  {% if settings.slide_3_checkbox %}
   "{{'slide_3.jpg'|asset_url}}",
  {% endif %}
  {% if settings.slide_4_checkbox %}
   "{{'slide_4.jpg'|asset_url}}",
  {% endif %}
  {% if settings.slide_5_checkbox %}
   "{{'slide_5.jpg'|asset_url}}",
  {% endif %}
  {% if settings.slide_6_checkbox %}
   "{{'slide_6.jpg'|asset_url}}",
  {% endif %}
  {% if settings.slide_7_checkbox %}
   "{{'slide_7.jpg'|asset_url}}",
  {% endif %}
], {duration: 3000, fade: 1500,centeredY : true});

  });
</script>




<!--index collection panel-->

<!--hero-->
<div id="top_hero"class="full_width_panel">




<!--sepertion-->
<div class="seperation">
<div class="seperation-left"></div>
<div class="seperation-right"></div>
</div>


</div>  <!--hero-->

<div class="top_bar_clear"></div>

<div class="full_width_panel blend_space">

<div class="container collections">

  {% assign collection = '' %}
  {% assign products = collections[settings.frontpage_collection].products %}
  {% assign products_per_row = settings.frontpage_products_per_row %}
  {% include 'product-loop' %}

</div>











<!--
<
<h1 class="hide_mobile blog_title">From the blog</h1>
-->
{%include 'blog grid2'%}



<div class="hide_mobile container">
<h1>Gallery feed</h1>

<!-- SnapWidget -->
<iframe src="http://snapwidget.com/in/?u=amFoYW5naXJicmlkZXxpbnwxMjV8N3wxfHxub3w1fG5vbmV8b25TdGFydHx5ZXM=&v=27314" title="Instagram Widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:910px; height:130px"></iframe>


</div>

 </div><!--blendspace-->
